.form {
    text-align: center;
}

.div_flex {
    display: flex;
    gap: 20px;
}

.results {
    background-color: orange;
    width: 100px;
    height: 50px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.input_btn {
    background-color: green;
    color: white;
    padding: 10px 70px 10px 70px;
    cursor: pointer;
    transition: 0.5s;
}

.input_btn:hover {
    background-color: black;
}